/* Font Color  */
$primary-color: #f26c4f;
$secondary-color: #686868;
$black: #000000;
$white: #ffffff;
$blue: #5865f5;
$arrow-bg: #101011;
$arrow-bg-with-opacity: #0f0f1066;
$heading-color: #101011;
$active-text: #5865f5;
$active-bg: #5865f5;
$normal-icon-bg: #797d84;
$primary-bg: #f1f5f9;
$secondary-bg: #101011;
$disabled-arrow-black: #797d84;
$border-color: #e4e9ee;
$maxWidth: 1300px;
$bullet-color: #d9d9d9;
$footer-font: #878792;
$link-color: #e4e7eb;
$icon-bg: rgb(60, 60, 66);
// Font
$F-SB: "Raleway-SemiBold";
$F-M: "Raleway-Medium";
$F-R: "Raleway-Regular";
$F-EX: "Raleway-ExtraBold";
$F-B: "Raleway-Bold";
$SST-Medium: "SST-Medium";
$SST-Roman: "SST-Roman";

/* Box Shadow */
$box-shadow-1: 0 3px 6px #efefef;

/* Scroll */
$scroll-background: transparent;
