.full-panel {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: $black;
   text-align: center;
   padding: 20px;
   .full-text {
      font-family: $SST-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: 58.83px;
      line-height: 62px;
      color: #ffffff;
      padding: 38px 0 60px;
      @media (max-width: 767px) {
         font-size: 32px;
         line-height: 36px;
         padding: 40px 0;
      }
   }
}
