.xr-core-content {
   background: $primary-bg;
   max-width: 1116px;
   // padding: 0px 72px;
   width: 100%;
   @media (max-width: 767px) {
      padding: 0;
   }
   .button-blue {
      @media (max-width: 767px) {
         width: 100%;
      }
   }
   .core-wrapper {
      .core-slider {
         .slick-prev.slick-disabled:before,
         .slick-next.slick-disabled:before {
            opacity: 1 !important;
         }
         .slick-prev.slick-disabled:before {
            content: url(.././images/arrow-left.svg);
         }
         .slick-next.slick-disabled:before {
            content: url(.././images/arrow-right.svg);
         }
         .slick-next:before {
            content: url(.././images/arrow-right-blue.svg);
         }
         .slick-prev:before {
            content: url(.././images/arrow-left-blue.svg);
         }
         .slick-next {
            right: unset;
            left: 60px;
            @media (min-width: 768px) {
               left: 130px;
            }
         }
         .slick-prev {
            right: unset;
            left: 20px;
            @media (min-width: 768px) {
               right: unset;
               left: 95px;
            }
         }
         .slick-prev,
         .slick-next {
            z-index: 1;
            top: unset;
            bottom: 94px;
            @media (max-width: 767px) {
               top: unset;
               bottom: 100px;
            }
         }
         .core-slider-single {
            display: flex;
            align-items: center;
            gap: 95px;
            position: relative;
            padding: 70px 0 45px;
            @media (max-width: 767px) {
               flex-direction: column;
               gap: 30px;
               background-color: #000000;
               padding: 30px 0;
            }
            .model-data-wrap {
               z-index: 1;
               width: 380px;
               padding-left: 72px;
               @media (max-width: 767px) {
                  width: auto;
                  padding: 20px;
               }
            }
            .colorImg {
               height: 640px;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               @media (max-width: 767px) {
                  display: block;
                  height: 360px;
                  position: unset;
               }
            }
            .slick-initialized .slick-slide {
               display: flex;
               align-items: center;
               justify-content: center;
            }

            .slick-next,
            .slick-prev {
               z-index: 5;
            }
            .slick-next {
               right: 15px;
            }
            .slick-prev {
               left: 15px;
            }
            .slick-next:before,
            .slick-prev:before {
               color: #000;
               font-size: 26px;
            }
         }
      }
   }
}
